@import "tailwindcss";

:root,
html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: magz;
  src: url("fonts/Magz.otf");
}

.magz {
  font-family: magz;
}
